#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a, a:hover {
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
}

.repo {
	display: flex;
	flex-direction: row;
	gap: 1em;
	margin-bottom: 4em;
}

.language {
	width: 8em;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-shrink: 0;
}

.repos {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.repoInfo {
	cursor: pointer;
}
